---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
import { totalclientes,clientes} from "@Lib/clientes";
import Tabla from "@components/clientes/Tabla.astro";
if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}
const token = data.token?.value;
const res = await userinfo(token);
const user = res[0];
const clients = await clientes(token) || [];

const total = await totalclientes(token) || { total: 0 };

const tipoClienteMap = {
  1: 'Natural',
  2: 'Jurídico',
  // Agrega más tipos según sea necesario
};
---

<Layout title="Panel de Control">
  <script>
    document.getElementById("add").addEventListener("click", function () {
      // Cambia la URL por la dirección a la que quieres redirigir
      window.location.href = "/add";
    });
    document
      .getElementById("editButton")
      .addEventListener("click", function () {
        // Cambia la URL por la dirección a la que quieres redirigir
        window.location.href = "/edit";
      });
  </script>
  <div
    class="flex flex-col md:flex-row bg-gray-100 h-screen dark:bg-gray-800 dark:text-white"
  >
    <!-- Sidebar -->
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
          <i class="fa-solid fa-address-book"></i> Listado de Clientes
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||"https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm"></p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
          <Card title="Herramientas" description="Manejo de datos de usuario">
            <div class="flex column">
              <div class="flex space-x-4 p-1">
                <div
                  id="add"
                  class="w-16 h-16 dark:bg-indigo-500 bg-sky-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  id="openModalBtn"
                >
                  <i class="fa-solid fa-plus text-4xl"></i>
                  <span class="text-xs">Agregar</span>
                </div>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  id="editButton"
                  class="w-16 h-16 dark:bg-emerald-500 bg-lime-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-pen text-4xl"></i>
                  <span class="text-xs">Editar</span>
                </div>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  class="w-16 h-16 dark:bg-rose-500 bg-pink-600 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-trash text-4xl"></i>
                  <span class="text-xs">Eliminar</span>
                </div>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  class="w-16 h-16 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-chart-pie text-4xl"></i>
                  <span class="text-xs">Detalles</span>
                </div>
              </div>
            </div>
          </Card>
        
        <Card title="Total de Clientes" description="Total"
          ><i class="fa-solid fa-person"></i> {total?.total || 0}</Card
        >
        <Card title="Clientes Recientes" description="El ultimo Mes"
          ><i class="fa-solid fa-user-clock"></i> 1</Card
        >
      </div>

      <!-- Tabla de órdenes recientes -->
      <div
        class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
      >
        <h2 class="text-xl font-semibold">Clientes</h2>
      <Tabla>
        <slot>
          <!--foreach cliente fill a column -->
          {clients.map(cliente => {
                       const tipoCliente = tipoClienteMap[cliente.tipo_cliente] || 'Desconocido';
            return (
            <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.Idcliente}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.nombre}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{tipoCliente}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.direccion}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.telefono}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.dui}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.nit}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.nrc}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.giro}</td>
            <td class="px-4 py-2 max-w-full overflow-hidden text-ellipsis">{cliente.fecha_registro}</td>
        </tr>
            );
          })}
        </slot>
      </Tabla>
      </div>

      <!-- Actualizaciones recientes -->
      <div
        class="mt-6 bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 dark:text-white"
      >
        <h2 class="text-xl font-semibold dark:text-white">
          Ventas Realizadas Recientemente
        </h2>
        <ul class="mt-4 space-y-4"></ul>
      </div>
    </Sidebar>

    <!-- Main Content -->
  </div>
</Layout>
