---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
import { totalclientes, clientes } from "@Lib/clientes";
import Tabla from "@components/clientes/Tabla.astro";
import Modal from "@components/clientes/dialog.astro";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

const token = data.token?.value;

let res;
try {
  res = await userinfo(token);
} catch (error) {
  console.error("Error al obtener la información del usuario:", error);
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
}

const user = res[0];
const clients = (await clientes(token)) || [];
const total = (await totalclientes(token)) || { total: 0 };

const tipoClienteMap = {
  1: "Natural",
  2: "Jurídico",
  // Agrega más tipos según sea necesario
};
---

<Layout title="Panel de Control">
  <!-- height: max-content; -->
  <div
    class="flex flex-col md:flex-row bg-gray-100 dark:bg-gray-800 dark:text-white h-full"
  >
    <!-- Sidebar -->
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
          <i class="fa-solid fa-address-book"></i> Listado de Clientes
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
          <Card title="Herramientas" description="Manejo de datos de usuario">
            <div class="flex column">
              <div class="flex space-x-4 p-1">
                <a
                  id="add"
                  class="w-16 h-16 dark:bg-indigo-500 bg-sky-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  id="openModalBtn"
                  onclick="document.getElementById('Addmodal').showModal()"
                >
                  <i class="fa-solid fa-plus text-4xl"></i>
                  <span class="text-xs">Agregar</span>
                </a>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  id="editButton"
                  class="w-16 h-16 dark:bg-emerald-500 bg-lime-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-pen text-4xl"></i>
                  <span class="text-xs">Editar</span>
                </div>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  class="w-16 h-16 dark:bg-rose-500 bg-pink-600 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-trash text-4xl"></i>
                  <span class="text-xs">Eliminar</span>
                </div>
              </div>
              <div class="flex space-x-4 p-1">
                <div
                  class="w-16 h-16 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                  <i class="fa-solid fa-chart-pie text-4xl"></i>
                  <span class="text-xs">Detalles</span>
                </div>
              </div>
            </div>
          </Card>

          <Card title="Total de Clientes" description="Total"
            ><i class="fa-solid fa-person"></i> {total?.total || 0}</Card
          >
          <Card title="Clientes Recientes" description="El ultimo Mes"
            ><i class="fa-solid fa-user-clock"></i> {total?.lastmonth || 0}
          </Card>
        </div>

        <!-- Tabla de órdenes recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
        >
          <h2 class="text-xl font-semibold">Clientes</h2>
          <Tabla>
            <slot>
              <!--foreach cliente fill a column -->
              {
                clients.map((cliente) => {
                  const tipoCliente =
                    tipoClienteMap[cliente.tipo_cliente] || "Desconocido";
                  return (
                    <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
                      <td class="px-2 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.Idcliente}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.nombre}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {tipoCliente}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.direccion}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.telefono}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.dui}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.nit}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.nrc}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.giro}
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        {cliente.fecha_registro}
                      </td>
                    </tr>
                  );
                })
              }
            </slot>
          </Tabla>
        </div>

        <!-- Actualizaciones recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 dark:text-white"
        >
          <h2 class="text-xl font-semibold dark:text-white">
            Ventas Realizadas Recientemente
          </h2>
          <ul class="mt-4 space-y-4"></ul>
        </div>
      </div>

      <!-- Main Content -->
      <!-- Modal hidden as defaul -->
      <Modal id="Addmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Agregar Cliente
          </h2>

          <!-- Formulario -->
          <form name="agregarcliente" method="POST" class="space-y-4">
            <label
              for="nombre"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Nombre</label
            >
            <input
              type="text"
              id="nombre"
              name="nombre"
              placeholder="Nombre"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="tipo"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Tipo Cliente</label
            >
            <select
              id="tipo"
              name="tipo"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            >
              <option value="1">Natural</option>
              <option value="2">Jurídico</option>
            </select>

            <label
              for="Direccion"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Dirección</label
            >
            <textarea
              id="Direccion"
              name="Direccion"
              placeholder="Dirección"
              required
              rows="2"
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            ></textarea>

            <label
              for="Telefono"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Teléfono</label
            >
            <input
              type="text"
              id="Telefono"
              name="Telefono"
              placeholder="Teléfono"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Dui"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">DUI</label
            >
            <input
              type="text"
              id="Dui"
              name="Dui"
              placeholder="DUI"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Nit"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">NIT</label
            >
            <input
              type="text"
              id="Nit"
              name="Nit"
              placeholder="NIT"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Nrc"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">NCR</label
            >
            <input
              type="text"
              id="Nrc"
              name="Nrc"
              placeholder="NRC"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Giro"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">Giro</label
            >
            <input
              type="text"
              id="Giro"
              name="Giro"
              placeholder="Giro"
              required
              class="form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Addmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </Modal>
    </Sidebar>
  </div>
</Layout>
<script type="module">
  const formcliente = document.forms.agregarcliente;
  formcliente.addEventListener("submit", (e) => {
    e.preventDefault();
    addcliente();
  });
  function addcliente() {
    // Verifica que todo esté correcto

    const nombre = formcliente.nombre.value;
    const tipo = formcliente.tipo.value;
    const direccion = formcliente.Direccion.value;
    const telefono = formcliente.Telefono.value;
    const dui = formcliente.Dui.value;
    const nit = formcliente.Nit.value;
    const nrc = formcliente.Nrc.value;
    const giro = formcliente.Giro.value;
    //get token from cookie
    const token = document.cookie
      .split("; ")
      .find((row) => row.startsWith("token"))
      .split("=")[1];
    // Envía los datos al servidor
    fetch("http://localhost:8000/clientes/agregar", {
      method: "POST",
      headers: {
        Authorization: `Bearer ${token}`,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        nombre: nombre,
        tipo_cliente: tipo,
        direccion: direccion,
        telefono: telefono,
        dui: dui,
        nit: nit,
        nrc: nrc,
        giro: giro,
        fecha_registro: new Date().toISOString(),
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if (data.status == 200) {
          alert("Cliente agregado correctamente");
          document.getElementById("Addmodal").close();
        } else {
          alert("Error al agregar el cliente");
        }
      });
  }
</script>
