---
export const prerender = false;
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/sidebar.astro";
import Card from "@components/menu/Card.astro";

// Función para obtener el valor de una cookie desde el servidor
function getCookie(cookies, name) {
  const value = `; ${cookies}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

// Obtener cookies desde el request headers
const cookies = Astro.request.headers.get('cookie') || '';
const authCode = getCookie(cookies, 'authcode');
let weeklySales = 0;
let sales24hTotal = 0;
let totalSalesTotal = 0;
let userName = "Usuario";
let userType = 3;
let userRange = "Principiante";
let venta = {
  Cliente: '',
  Total: 0,
  Fecha: ''
};

if (authCode) {
  async function fetchData(url, method, body) {
    const response = await fetch(url, {
      method: method,
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(body),
    });
    return response.json();
  }
  
  const userInfo = await fetchData('http://localhost/user/getinfo', 'POST', { authcode: authCode });
  userName = userInfo.Nombre;
  userType = userInfo.Tipo;
  
  if (userType === 1) {
    userRange = "Administrador";
  } else if (userType === 2) {
    userRange = "Vendedor";
  } else {
    userRange = "No autorizado";
  }
  
  const ultimaVenta = await fetchData('http://localhost/ventas/ultimaventa', 'POST', { authcode: authCode });
  // Ventas de la última semana
  const salesData = await fetchData('http://localhost/ventas/ventasbydaterange', 'POST', {
    authcode: authCode,
    start: new Date(new Date().setDate(new Date().getDate() - 7)).toISOString(),
    end: new Date().toISOString(),
  });
  const sales24h = await fetchData('http://localhost/ventas/ventasbydaterange', 'POST', {
    authcode: authCode,
    start: new Date(new Date().setDate(new Date().getDate() - 1)).toISOString(),
    end: new Date().toISOString(),
  });
  const totalSales = await fetchData('http://localhost/ventas/ventasbydaterange', 'POST', {
    authcode: authCode,
    start: new Date(new Date().setMonth(new Date().getMonth() - 1)).toISOString(),
    end: new Date().toISOString(),
  });
//{ Cliente: '4rX8Ei2Jrn', Fecha: '2024-10-12T23:36:55.000Z', Total: 15 }
  venta = ultimaVenta
  console.log(venta);

  weeklySales = salesData.message[0].Total;
  sales24hTotal = sales24h.message[0].Total;
  totalSalesTotal = totalSales.message[0].Total;
  
}
---

<Layout title="Panel de Control">
  <script>
    document.addEventListener('DOMContentLoaded', async () => {  
      const authCode = localStorage.getItem('authcode');

      const authResponse = await fetch('http://localhost/user/verify', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ authcode: authCode }),
      });
      const authData = await authResponse.json();
      if (authData.status !== 200 || authData.message !== "Authorized") {
        window.location.href = '/';
      }
    });
  </script>
  <div class="flex flex-col md:flex-row bg-gray-100 h-screen dark:bg-gray-800 dark:text-white">
    <!-- Sidebar -->
    <Sidebar tipo={userType} />

    <!-- Main Content -->
    <br /><br />
    <div class="flex-1 p-4 md:p-6 bg-gray-100 dark:bg-gray-800">
      <h1 class="text-3xl font-bold mb-6">Proyecto Midnight</h1>

      <div class="flex items-center justify-end mb-6">
        <div class="flex items-center space-x-2">
          <div class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500">
            <img src="https://avatars.githubusercontent.com/u/178928214?v=4" alt="Foto de perfil" class="w-full h-full object-cover" />
          </div>
          <div class="text-right">
            <h1 class="text-xl font-bold">Hola, {userName}</h1>
            <p class="text-gray-600 dark:text-gray-400 text-sm">{userRange}</p>
          </div>
        </div>
      </div>
      <!-- Contenido de tarjetas -->
      <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <!-- Tarjeta Total Sales -->
        <Card title="Ventas Totales" description="El ultimo Mes">${totalSalesTotal}</Card>
        <Card title="Ventas Recientes" description="Ultimas 24 Horas">${sales24hTotal}</Card>
        <Card title="Ventas Semanales" description="Ultima Semana">${weeklySales}</Card>
      </div>

      <!-- Tabla de órdenes recientes -->
      <div class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700">
        <h2 class="text-xl font-semibold">Pedidos Recientes</h2>
        <table class="min-w-full mt-4 table-auto dark:border-gray-700">
          <thead class="dark:border-gray-700">
            <tr>
              <th class="px-4 py-2">Nombre del producto</th>
              <th class="px-4 py-2">Numero de producto</th>
              <th class="px-4 py-2">Metodo de pago</th>
              <th class="px-4 py-2">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2 dark:border-gray-500">Garanon</td>
              <td class="border px-4 py-2 dark:border-gray-500">85671</td>
              <td class="border px-4 py-2 dark:border-gray-500">Tarjeta de Credito</td>
              <td class="border px-4 py-2 dark:border-gray-500 dark:text-yellow-300 text-yellow-500">Pendiente</td>
            </tr>
            <!-- Más filas según sea necesario -->
          </tbody>
        </table>
      </div>

      <!-- Actualizaciones recientes -->
      <div class="mt-6 bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 dark:text-white">
        <h2 class="text-xl font-semibold dark:text-white">Ventas Realizadas Recientemente</h2>
        <ul class="mt-4 space-y-4">
          <li class="flex items-center">
            <span class="text-gray-600 dark:text-white">El cliente {venta.Cliente} realizó una venta por un total de {venta.Total} dolares</span>
            <span class="ml-auto text-gray-500 text-sm dark:text-white">{venta.Fecha}</span>
          </li>
          <!-- Más actualizaciones según sea necesario -->
        </ul>
      </div>
    </div>
  </div>
</Layout>