---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
//Aqui la lib empleados
import Tabla from "@components/servicios/Tabla.astro";
import Modal from "@components/dialog.astro";
import Alertas from "@components/alertas.astro";
import { Fetcher } from "@Lib/fetcher";
import Documentos from "./documentos.astro";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

const token = data.token?.value;

let res;
try {
  res = await userinfo(token);
} catch (error) {
  console.error("Error al obtener la información del usuario:", error);
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
}

const user = res;

let servicios = []
try{
  const res = await Fetcher ("servicios","listar",token);
  if (res.status!==200){
    throw new Error("Error al obtener los servicios");
  }
  servicios = await res.data;
} catch (error){
  console.error("Error al obtener los servicios", error);
}
---

<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
  }
</style>
<Layout title="Panel de Control">
  <!-- height: max-content; -->
  <div
    class="flex flex-col md:flex-row bg-gray-100 dark:bg-gray-800 dark:text-white h-full"
  >
    <!-- Sidebar -->
    <br /><br />
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
          <i class="fa-solid fa-gear"></i> Listado de Servicios
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
          <Alertas />
          <Card title="Herramientas" description="Manejo de datos de Servicios">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
              <div class="flex justify-center">
                <a
                  id="add"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-indigo-500 bg-sky-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Addmodal').showModal()"
                >
                  <i class="fa-solid fa-plus text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Agregar</span>
                </a>
              </div>
              <div class="flex justify-center">
                <div
                  id="editButton"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-emerald-500 bg-lime-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Editmodal').showModal()"
                >
                  <i class="fa-solid fa-pen text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Editar</span>
                </div>
              </div>
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-rose-500 bg-pink-600 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Deletemodal').showModal()"
                >
                  <i class="fa-solid fa-trash text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Eliminar</span>
                </div>
              </div>
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Detailmodal').showModal()"
                >
                  <i class="fa-solid fa-chart-pie text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Detalles</span>
                </div>
              </div>
            </div>
          </Card>

          <Card title="Total de Servicios" description="Total"
            ><i class="fa-solid fa-list"></i> {" " + servicios.length || 0}</Card
          >
          <Card
            title="Servicio agregado recientemente"
            description="Último servicio agregado"
          >
            <i class="fa-solid fa-circle-check"></i> {
              " " + servicios [servicios.length - 1]?.nombre ||
                "No hay servicios"
            }
          </Card>
        </div>

        <!-- Tabla de órdenes recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
        >
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-semibold">Servicios</h2>
          <button
            class="btn text-indigo-900 dark:text-slate-200 px-2 py-1 rounded-md hover:text-gray-500 dark:hover:text-gray-50"
            id="acciones"
          >
            <i class="fa-solid fa-clipboard-check" id="Activar"></i> Seleccionar
          </button>
        </div>
          
          <Tabla>
            <slot>
             <!--foreach cliente fill a column -->
              {
                servicios.map((servicio) => (
                  <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
                    <td class="px-2 py-1 max-w-full overflow-hidden text-ellipsis align-middle text-center hidden acciones">
                      <label class="container relative block cursor-pointer text-lg select-none">
                        <input
                          type="checkbox"
                          name="servicio"
                          value={servicio.Idservicio}
                          class="absolute opacity-0 cursor-pointer h-0 w-0"
                        />
                        <div class="checkmark relative top-0 left-0 h-5 w-5 bg-gray-300 rounded-full transition duration-300 mx-auto" />
                      </label>
                    </td>
                    <td class="px-2 py-1 max-w-full overflow-hidden text-ellipsis align-middle text-center">
                      {servicio.nombre}
                    </td>
                    <td class="px-2 py-1 max-w-full overflow-hidden text-ellipsis align-middle text-center">
                      ${servicio.precio_venta1}
                    </td>
                    <td class="px-2 py-1 max-w-full overflow-hidden text-ellipsis align-middle text-center">
                      ${servicio.precio_venta2}
                    </td>
                    <td class="px-2 py-1 max-w-full overflow-hidden text-ellipsis align-middle text-center">
                      ${servicio.precio_venta3}
                    </td>
                  </tr>
                ))
              }
            </slot>
          </Tabla>
        </div>
      </div>
      <!-- Addmodal Content -->
      <!-- Modal hidden as defaul -->
      <!--AGREGAR -->
      <Modal id="Addmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Agregar servicio
          </h2>

          <!-- Formulario -->
          <form name="agregar" method="POST" class="space-b-4">
            <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
              >Nombre de servicio</label
            >
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Addmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                id="addcl"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--EDITAR -->
      <Modal id="Editmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Editar servicio
          </h2>

          <!-- Formulario -->
          <form name="editar" method="POST" class="space-b-4">
            <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
              >Nombre de servicio</label
            >
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Editmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                onclick="editempleado()"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Editar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--Eliminar -->
      <Modal id="Deletemodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Eliminar servicio
          </h2>

          <!-- Formulario -->
          <form name="editar" method="POST" class="space-b-4">
            <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
              >Nombre de servicio</label
            >
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              disabled
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Deletemodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                onclick="deleteproveedor()"
                class="btn btn-submit bg-red-500 text-white px-4 py-2 rounded-md"
              >
                Eliminar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--Detalles-->
      <Modal id="Detailmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Detalle de servicio
          </h2>

          <!-- Formulario -->
          <form name="detalle" method="POST" class="space-b-4">
            <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
              >Nombre de servicio</label
            >
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              disabled
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Detailmodal').close()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </Modal>
    </Sidebar>
  </div>
</Layout>
<script>
   const token = document.cookie
    .split("; ")
    .find((row) => row.startsWith("token"))
    .split("=")[1];
  const actions = document.getElementById("acciones");

  actions.addEventListener("click", () => {
    const acciones = document.getElementsByClassName("acciones");

    for (let i = 0; i < acciones.length; i++) {
      acciones[i].classList.toggle("hidden");
    }
  });
</script>