---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
//Aqui va para conseguir el total de ventas
import { Fetcher } from "@Lib/fetcher";
import Modal from "@components/dialog.astro";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

const token = data.token?.value;

let res;
try {
  res = await userinfo(token);
} catch (error) {
  console.error("Error al obtener la información del usuario:", error);
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
}

const user = res;

let ventas = []
try{
  const res = await Fetcher ("ventas","listar",token);
  if (res.status!==200){
    throw new Error("Error al obtener las ventas");
  }
  ventas = await res.data;
} catch (error){
  console.error("Error al obtener las ventas", error);
}

let usuarios = []
try{
  const res = await Fetcher ("usuarios","listar",token);
  if (res.status!==200){
    throw new Error("Error al obtener los usuarios");
  }
  usuarios = await res.data;
} catch (error){
  console.error("Error al obtener los usuarios", error);
}
function obtenerNombreUsuario(id) {
    const usuario = usuarios.find(user => user.Idusuario === id);
    return usuario ? usuario.nombre : "Desconocido";
}

let clientes = []
try{
  const res = await Fetcher ("clientes","listar",token);
  if (res.status!==200){
    throw new Error("Error al obtener los clientes");
  }
  clientes = await res.data;
} catch (error){
  console.error("Error al obtener los clientes", error);
}
function obtenerNombreCliente(id) {
    const cliente = clientes.find(client => client.Idcliente === id);
    return cliente ? cliente.nombre : "Desconocido";
  }
  
  let documentosFiscales = []
  try{
    const res = await Fetcher ("documentos","listar",token);
    if (res.status!==200){
      throw new Error("Error al obtener los documentos fiscales");
    }
    documentosFiscales = await res.data;
  } catch (error){
    console.error("Error al obtener los documentos fiscales", error);
  }
  function obtenerNombreDocumentoFiscal(id) {
    const documentoFiscal = documentosFiscales.find(doc => doc.Iddocumento_fiscal === id);
    return documentoFiscal ? documentoFiscal.nombre : "Desconocido";
  }
  let metodosPago = []
  try{
    const res = await Fetcher ("metodos","listar",token);
    if (res.status!==200){
      throw new Error("Error al obtener los metodos de pago");
    }
    metodosPago = await res.data;
  } catch (error){
    console.error("Error al obtener los metodos de pago", error);
  }
  function obtenerNombreMetodoPago(id) {
    const metodoPago = metodosPago.find(metodo => metodo.Idmetodo_pago === id);
    return metodoPago ? metodoPago.nombre : "Desconocido";
  }
---
<script>
    document.addEventListener("astro:page-load", actualizarEstados);

    function actualizarEstados() {
      const estados = document.querySelectorAll('p');
    
      estados.forEach(function (estado) {
        if (estado.innerHTML.includes("Estado:")) {
          const estadoTexto = estado.textContent.trim().split(":")[1].trim();
    
          if (estadoTexto.toLowerCase() === "finalizado") {
            estado.classList.add("text-green-500");
            estado.classList.remove("text-red-200");
          } else if (estadoTexto.toLowerCase() === "pendiente") {
            estado.classList.add("text-red-300");
            estado.classList.remove("text-green-300");
          }
        }
      });
    }
    
    document.addEventListener('DOMContentLoaded', actualizarEstados);
</script>
<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
  }
</style>
<Layout title="Panel de Control">
  <!-- height: max-content; -->
  <div
    class="flex flex-col md:flex-row bg-gray-100 dark:bg-gray-800 dark:text-white h-full"
  >
    <!-- Sidebar -->
    <br /><br />
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
          <i class="fa-solid fa-cash-register"></i> Listado de Ventas
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
          <Card title="Herramientas" description="Manejo de datos de ventas">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-2">
              <div class="flex justify-center">
                <a
                  id="add"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-indigo-500 bg-sky-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Addmodal').showModal()"
                >
                  <i class="fa-solid fa-plus text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Agregar</span>
                </a>
              </div>
              <div class="flex justify-center">
                <div
                  id="editButton"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-emerald-500 bg-lime-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Editmodal').showModal()"
                >
                  <i class="fa-solid fa-pen text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Editar</span>
                </div>
              </div>
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Detailmodal').showModal()"
                >
                  <i class="fa-solid fa-chart-pie text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Detalles</span>
                </div>
              </div>
            </div>
          </Card>

          <Card title="Total de Ventas" description="Total"
            ><i class="fa-solid fa-money-check-dollar"></i> {" " + ventas.length || 0}</Card
          >
          <Card title="Ventas Recientes" description="El ultimo Mes"
            ><i class="fa-solid fa-receipt"></i> {
              " " + ventas [ventas.length - 1]?.Idcab_venta ||
                "No hay ventas recientes"
            }
          </Card>
        </div>

        <!-- Tabla de órdenes recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
        >
          <h2 class="text-xl font-semibold">Ventas</h2><br />
        <!-- Contenedor principal para las tarjetas -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
                        { ventas.map((venta) => (
              <div class="max-w-xs rounded-lg shadow-lg bg-white dark:bg-gray-900 overflow-hidden">
                <div class="p-4 bg-gray-800 dark:bg-gray-200 text-center">
                  <h2 class="text-xl font-semibold text-white dark:text-slate-900">Venta No: {venta.Idcab_venta}</h2>
                </div>
                <div class="p-4 text-gray-800 dark:text-gray-300">
                  <p><strong>Número: </strong> {venta.Idcab_venta}</p>
                  <p><strong>Documento Fiscal: </strong> {obtenerNombreDocumentoFiscal(venta.Iddocumento_fiscal)}</p>
                  <p><strong>Correlativo: </strong> {venta.correlativo_documento_fiscal}</p>
                  <p><strong>Fecha de Venta: </strong> {new Date(venta.fecha_venta).toLocaleDateString()}</p>
                  <p><strong>Cliente: </strong> {obtenerNombreCliente(venta.Idcliente)}</p>
                  <p><strong>Condición de Venta: </strong> {venta.condicion_venta}</p>
                  <p><strong>Método de Pago: </strong> {obtenerNombreMetodoPago(venta.Idmetodo_pago)}</p>
                  <p><strong>Estado: </strong> {venta.estado}</p>
                  <p><strong>Sumas: </strong> ${venta.sumas.toFixed(2)}</p>
                  <p><strong>IVA: </strong> ${venta.iva.toFixed(2)} (13%)</p>
                  <p><strong>Total:</strong> ${venta.total.toFixed(2)}</p>
                  <p><strong>Vendedor: </strong> {obtenerNombreUsuario(venta.Idusuario_vendedor)}</p>
                </div>
              </div>
            ))}
          </div>
        </div>

        <!-- Addmodal Content -->
        <!-- Modal hidden as defaul -->
        <!--AGREGAR -->
        <Modal id="Addmodal">
          <div
            class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
          >
            <h2
              class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100"
            >
              Agregar Venta
            </h2>

            <!-- Formulario -->
            <form name="agregar" method="POST" class="space-b-4">
              <label
                for="Documento"
                class="text-x1 text-gray-700 dark:text-gray-300"
                >Documento Fiscal</label
              >
              <input
                type="text"
                id="Documento"
                name="Documento"
                placeholder="Documento Fiscal"
                required
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />

              <label
                for="Correlativo"
                class="text-sm text-gray-700 dark:text-gray-300 mt-2"
                >Correlativo Documento Fiscal</label
              >
              <select
                id="Correlativo"
                name="Correlativo"
                required
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              >
                <option value="1">Natural</option>
                <option value="2">Jurídico</option>
              </select>

              <label
                for="FechaVenta"
                class="text-sm text-gray-700 dark:text-gray-300 mt-2"
                >Fecha de Venta</label
              >
              <input
                id="FechaVenta"
                type="date"
                name="FechaVenta"
                required
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
            </form>

            <label
              for="Cliente"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">Venta</label
            >
            <input
              type="text"
              id="Cliente"
              name="Cliente"
              placeholder="Nombre del Cliente"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="CondicionVenta"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Condicion de venta</label
            >
            <input
              type="text"
              id="CondicionVenta"
              name="CondicionVenta"
              placeholder="Condicion de venta"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="MetodoPago"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Metodo de Pago</label
            >
            <input
              type="text"
              id="MetodoPago"
              name="MetodoPago"
              placeholder="Metodo de pago"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Estado"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Estado</label
            >
            <input
              type="text"
              id="Estado"
              name="Estado"
              placeholder="Estado de la venta"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Sumas"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">Sumas</label
            >
            <input
              type="text"
              id="Sumas"
              name="Sumas"
              placeholder="Sumas"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <label
              for="IVA"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">IVA</label
            >
            <input
              type="text"
              id="IVA"
              name="IVA"
              placeholder="Iva 13%"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <label
              for="Total"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2">Total</label
            >
            <input
              type="text"
              id="Total"
              name="Total"
              placeholder="Total de la venta"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <label
              for="Vendedor"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Vendedor</label
            >
            <input
              type="text"
              id="Vendedor"
              name="Vendedor"
              placeholder="Vendedor"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Addmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                id="addcl"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Enviar
              </button>
            </div>
          </div>
        </Modal>
      </div>
      <!--EDITAR -->
      <Modal id="Editmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Editar Venta
          </h2>

          <form name="editar" method="POST" class="space-b-4">
            <label
              for="Documento"
              class="text-x1 text-gray-700 dark:text-gray-300"
              >Documento Fiscal</label
            >
            <input
              type="text"
              id="Documento"
              name="Documento"
              placeholder="Documento Fiscal"
              required
              disabled
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Correlativo"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Correlativo Documento Fiscal</label
            >
            <select
              id="Correlativo"
              name="Correlativo"
              required
              disabled
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            >
              <option value="1">Natural</option>
              <option value="2">Jurídico</option>
            </select>

            <label
              for="FechaVenta"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Fecha de Venta</label
            >
            <input
              id="FechaVenta"
              type="date"
              name="FechaVenta"
              required
              disabled
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
          </form>

          <label
            for="Cliente"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2">Cliente</label
          >
          <input
            type="text"
            id="Cliente"
            name="Cliente"
            placeholder="Nombre del Cliente"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />

          <label
            for="CondicionVenta"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Condicion de venta</label
          >
          <input
            type="text"
            id="CondicionVenta"
            name="CondicionVenta"
            placeholder="Condicion de venta"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />

          <label
            for="MetodoPago"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Metodo de Pago</label
          >
          <input
            type="text"
            id="MetodoPago"
            name="MetodoPago"
            placeholder="Metodo de pago"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />

          <label
            for="Estado"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2">Estado</label
          >
          <input
            type="text"
            id="Estado"
            name="Estado"
            placeholder="Estado de la venta"
            required
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />

          <label
            for="Sumas"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2">Sumas</label
          >
          <input
            type="text"
            id="Sumas"
            name="Sumas"
            placeholder="Sumas"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />
          <label for="IVA" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >IVA</label
          >
          <input
            type="text"
            id="IVA"
            name="IVA"
            placeholder="Iva 13%"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />
          <label
            for="Total"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2">Total</label
          >
          <input
            type="text"
            id="Total"
            name="Total"
            placeholder="Total de la venta"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />
          <label
            for="Vendedor"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Vendedor</label
          >
          <input
            type="text"
            id="Vendedor"
            name="Vendedor"
            placeholder="Vendedor"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />
          <!-- Botones -->
          <div class="flex justify-end space-x-4">
            <button
              type="button"
              class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
              onclick="document.getElementById('Editmodal').close()"
            >
              Cancelar
            </button>
            <button
              type="button"
              onclick="editcliente()"
              class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
            >
              Enviar
            </button>
          </div>
        </div>
      </Modal>
    </Sidebar>
    <!--Eliminar -->
    <Modal id="Deletemodal">
      <div
        class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
      >
        <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
          Eliminar Venta
        </h2>

        <!-- Formulario -->

        <form name="detalles" method="POST" class="space-b-4">
          <label
            for="Documento"
            class="text-x1 text-gray-700 dark:text-gray-300"
            >Documento Fiscal</label
          >
          <input
            type="text"
            id="Documento"
            name="Documento"
            placeholder="Documento Fiscal"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />

          <label
            for="Correlativo"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Correlativo Documento Fiscal</label
          >
          <select
            id="Correlativo"
            name="Correlativo"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          >
            <option value="1">Natural</option>
            <option value="2">Jurídico</option>
          </select>

          <label
            for="FechaVenta"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Fecha de Venta</label
          >
          <input
            id="FechaVenta"
            type="date"
            name="FechaVenta"
            required
            disabled
            class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
          />
        </form>

        <label
          for="Cliente"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2">Cliente</label
        >
        <input
          type="text"
          id="Cliente"
          name="Cliente"
          placeholder="Nombre del Cliente"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label
          for="CondicionVenta"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Condicion de venta</label
        >
        <input
          type="text"
          id="CondicionVenta"
          name="CondicionVenta"
          placeholder="Condicion de venta"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label
          for="MetodoPago"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Metodo de Pago</label
        >
        <input
          type="text"
          id="MetodoPago"
          name="MetodoPago"
          placeholder="Metodo de pago"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label
          for="Estado"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2">Estado</label
        >
        <input
          type="text"
          id="Estado"
          name="Estado"
          placeholder="Estado de la venta"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="Sumas" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Sumas</label
        >
        <input
          type="text"
          id="Sumas"
          name="Sumas"
          placeholder="Sumas"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />
        <label for="IVA" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >IVA</label
        >
        <input
          type="text"
          id="IVA"
          name="IVA"
          placeholder="Iva 13%"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />
        <label for="Total" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Total</label
        >
        <input
          type="text"
          id="Total"
          name="Total"
          placeholder="Total de la venta"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />
        <label
          for="Vendedor"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2">Vendedor</label
        >
        <input
          type="text"
          id="Vendedor"
          name="Vendedor"
          placeholder="Vendedor"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />
        <!-- Botones -->
        <div class="flex justify-end space-x-4">
          <button
            type="button"
            class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
            onclick="document.getElementById('Deletemodal').close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            onclick="deletecliente()"
            class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
          >
            Enviar
          </button>
        </div>
      </div>
    </Modal>
  </div>
  <!--Detalles-->
  <Modal id="Detailmodal">
    <div
      class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
    >
      <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
        Detalle Venta
      </h2>

      <!-- Formulario -->
      <form name="agregar" method="POST" class="space-b-4">
        <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
          >Nombre</label
        >
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Nombre"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="tipo" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Tipo Cliente</label
        >
        <select
          id="tipo"
          name="tipo"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        >
          <option value="1">Natural</option>
          <option value="2">Jurídico</option>
        </select>

        <label
          for="Direccion"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2">Dirección</label
        >
        <textarea
          id="Direccion"
          name="Direccion"
          placeholder="Dirección"
          required
          disabled
          rows="2"
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        ></textarea>

        <label
          for="Telefono"
          class="text-sm text-gray-700 dark:text-gray-300 mt-2">Teléfono</label
        >
        <input
          type="text"
          id="Telefono"
          name="Telefono"
          placeholder="Teléfono"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="Dui" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >DUI</label
        >
        <input
          type="text"
          id="Dui"
          name="Dui"
          placeholder="DUI"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="Nit" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >NIT</label
        >
        <input
          type="text"
          id="Nit"
          name="Nit"
          placeholder="NIT"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="Ncr" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >NCR</label
        >
        <input
          type="text"
          id="Ncr"
          name="Ncr"
          placeholder="NCR"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />

        <label for="Giro" class="text-sm text-gray-700 dark:text-gray-300 mt-2"
          >Giro</label
        >
        <input
          type="text"
          id="Giro"
          name="Giro"
          placeholder="Giro"
          required
          disabled
          class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
        />
        <!-- Botones -->
        <div class="flex justify-end space-x-4">
          <button
            type="button"
            class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
            onclick="document.getElementById('Detailmodal').close()"
          >
            Cancelar
          </button>
          <button
            type="button"
            onclick="detailcliente()"
            class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </Modal>
</Layout>

<script type="module">
  const addcl = document.getElementById("addcl");
  addcl.addEventListener("click", addcliente);

  function addcliente() {
    const formcliente = document.getElementsByName("agregar")[0];
    // Verifica que todo esté correcto
    console.log(formcliente);
    const nombre = formcliente.Nombre.value;
    const tipo = formcliente.tipo.value;
    const direccion = formcliente.Direccion.value;
    const telefono = formcliente.Telefono.value;
    const dui = formcliente.Dui.value;
    const nit = formcliente.Nit.value;
    const nrc = formcliente.Nrc.value;
    const giro = formcliente.Giro.value;
    //get token from cookie
    const token = document.cookie
      .split("; ")
      .find((row) => row.startsWith("token"))
      .split("=")[1];
    // Envía los datos al servidor
    fetch("http://localhost:8000/clientes/agregar", {
      method: "POST",
      headers: {
        Authorization: `Bearer ${token}`,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        nombre: nombre,
        tipo_cliente: tipo,
        direccion: direccion,
        telefono: telefono,
        dui: dui,
        nit: nit,
        nrc: nrc,
        giro: giro,
        fecha_registro: new Date().toISOString(),
      }),
    }).then((res) => {
      if (res.ok) {
        alert("Cliente agregado correctamente");
        location.reload();
      } else {
        alert("Error al agregar el cliente");
      }
    });
  }
</script>
